# Dependencies
/node_modules
/.pnp
.pnp.js
/venv/
venv/
venv/**/*.dylib
venv/**/*.so
venv/**/*.dll
venv/**/*.pyd

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/temp/*
.vscode/*.log
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Cache
*.cache
.cache/
__pycache__/

# Node
services/frontend/node_modules/ 
services/frontend/node_modules/*

# Python package metadata
*.egg-info/
*.egg
dist/
build/ 
